example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 99%;
    margin-right: 1%;
  }

  .example-50-width {
    width: 49%;
    margin-right: 1%;
  }

  .example-75-width {
    width: 74%;
    margin-right: 1%;
  }

  .example-25-width {
    width: 24%;
    margin-right: 1%;
  }